.hwwd-selectors{
    display: flex;
}

.hwwd-selectors span{
    padding: 15px;
    width: 80px;
    background-color: #f5f5f5;
    display: inline-table;
    cursor: pointer;
    text-align: center;
}


.hwwd-selectors .active{
    background-color: #28a745;
    color: white;
    display: inline-table;
    box-shadow: 2px 1px 3px rgba(0,0,0,0.3);
    z-index: 5;
}