<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script th:src="@{/js/admin.js}"></script>
    <link rel="stylesheet" th:href="@{/css/admin.css}" />
    <link rel="icon" href="/img/logo.svg" type="image/png" sizes="16x8">
    <meta property="og:image" content="/img/005.jpg">
    <title>海外皇地(后台)</title>

</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            海外皇地
        </a>
        <a class="navbar-brand" href="/admin/WebMessage/index" >
            <div class="web-message">
                <img src="/img/lettre.png" width="45" height="45" class="d-inline-block align-top">
                <div th:if="${session.unready}" >
                    <text class="message-info" th:text="${session.unready}"></text>
                </div>
                <div th:unless="${session.unready}" th:remove="tag">
                    <text class="message-info">0</text>
                </div>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto nav-flex-icons ">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/zh">
                        <img src="/img/zh.png"  height="15" class="d-inline-block align-top" alt="">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/fr">
                        <img src="/img/fr.png"  height="15" class="d-inline-block align-top" alt="">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">首页</a>
                </li>
                <view th:if="${session.user}" th:remove="tag">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="resource" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            资源列表
                        </a>
                        <div class="dropdown-menu" aria-labelledby="resource">
                            <a class="dropdown-item" href="/admin/pays/lists">国家列表</a>
                            <a class="dropdown-item" href="/admin/send/email">发送邮件</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" th:if="${session.user.permission==9}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            管理员
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin/lists">管理员列表</a>
                            <a class="dropdown-item" href="/admin/create_admin">创建管理员</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/admin/employees">员工列表</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/admin/residence/create">创建学生公寓人员</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="partnerAndUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            租客和业主
                        </a>
                        <div class="dropdown-menu" aria-labelledby="partnerAndUser">
                            <a class="dropdown-item" href="/admin/partner/lists">业主列表</a>
                            <a class="dropdown-item" href="/admin/user/lists">租客列表</a>
                            <a class="dropdown-item" href="/admin/annonce/partners/lists">学生公寓</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/admin/apply/lists">申请加盟列表</a>
                            <a class="dropdown-item" href="/admin/bussiness/partner/lists">买卖用户</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/admin/estimations">估价列表</a>

                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="editorCenter" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            招聘和投资
                        </a>
                        <div class="dropdown-menu" aria-labelledby="editorCenter">
                            <a class="dropdown-item" href="/admin/editor/lists">前台页面</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="cobberAndShop" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            合作商和店铺
                        </a>
                        <div class="dropdown-menu" aria-labelledby="cobberAndShop">
                            <a class="dropdown-item" href="/admin/cobber/lists">合作商列表</a>
                            <a class="dropdown-item" href="/admin/cobber/shop">合作商店</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userCenter" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            个人中心
                        </a>
                        <div class="dropdown-menu" aria-labelledby="userCenter">
                            <a class="dropdown-item" href="/admin/personnel">个人中心</a>
                            <a class="dropdown-item" href="/admin/salaries">工资</a>
                            <a class="dropdown-item" href="/admin/set">设置</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  href="#" id="alarm" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">报警系统</a>
                        <div class="dropdown-menu" aria-labelledby="alarm">
                            <a class="dropdown-item" href="/admin/alarm">租房警报</a>
                            <a class="dropdown-item" href="/admin/alarm/employe/index">员工警报</a>
                        </div>
                    </li>
                    <li class="nav-item" th:if="${session.user}">
                        <a class="nav-link" href="/admin/logout" th:text="${'登出('+session.user.name+')'}"></a>
                    </li>
                </view>
            </ul>
        </div>
    </nav>
    <div class="content-frame" layout:fragment="content"></div>
    <div class="client-button-contain">
        <div class="client-button" th:if="${session.user}">客服</div>
    </div>
    <footer th:if="${session.user}" class="footer-div">
        <div class="footer-bar">
            <div class="footer-bar-item white"><div></div>总房源 ( <span class="total"></span> )</div>
            <div class="footer-bar-item green"><div></div>已租房源 ( <span class="success"></span> )</div>
            <div class="footer-bar-item orange"><div></div>正在签约房源 ( <span class="contract"></span> )</div>
            <div class="footer-bar-item red"><div></div>空房源 ( <span class="empty"></span> )</div>
        </div>
    </footer>
</div>
</body>
</html>