<div class="frontend-footer" xmlns:th="http://www.w3.org/1999/xhtml" layout:fragment="frontend-footer"
     xmlns:layout="http://www.w3.org/1999/xhtml" th:remove="tag">
    <footer class="footer navbar-fixed-bottom ">
        <div>
            <img th:src="@{/img/wechat-1.jpeg}" />
        </div>
        <div>
            <img th:src="@{/img/wechat-2.jpeg}" />
        </div>
        <div>
            <h4>联系我们</h4>
            <p>Tel:+33 0698953595</p>
        </div>
        <div>
            <div>
                <a href="/">买卖</a>
            </div>
            <div>
                <a href="/site">租赁</a>
            </div>
            <div>
                <a  href="/site/page/2">招贤纳才</a>
            </div>
            <div>
                <a href="/site/page/1">投资</a>
            </div>
            <div>
                <a href="/site/page/3">关于我们</a>
            </div>
        </div>
    </footer>
</div>