.hwwd-plugin-display{
    overflow: hidden;
}

#hwwd-img-editor-display-sets{
    width: 80%;
    height: 55%;
    top: 20%;
    left: 10%;
    position: absolute;
    z-index: 3000;
    box-shadow: 0 10px 10px;
}

#hwwd-img-editor-display-sets img{
    width: fit-content;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    top: -30px;
}

#hwwd-img-editor-dispaly-sets-close{
    position: absolute;
    background-color: white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    top: 10px;
    right: 10px;
    z-index: 200;
    cursor: pointer;
}