<!doctype html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/blayout" >
<div layout:fragment="content">
    <link rel="stylesheet" th:href="@{/css/site/platform.css}" />
    <link rel="stylesheet" th:href="@{/css/bussiness/join-us.css}" />

    <div class="bussiness-div">
        <div class="bussiness-top">
            <img th:src="@{/img/bussiness/platform.jpg}"/>
        </div>
        <div class="bussiness-div-title">
            <div class="bussiness-div-title-item"><div class="bussiness-div-title-item-title active" data-id="1">价格</div></div>
            <div class="bussiness-div-title-item"><div class="bussiness-div-title-item-title" data-id="2">学生创业</div></div>
            <div class="bussiness-div-title-item"><div class="bussiness-div-title-item-title" data-id="3">加盟</div></div>
        </div>
        <div class="bussiness-item" data-type="1">
            <div class="bussiness-price-div">
                <div class="bussiness-price-title">
                    <h3>我们的价格</h3>
                    <div>从我们的平台中选择适合您的营销方案解决方案</div>
                </div>
                <div class="bussiness-price-box">
                    <div class="bussiness-price-box-item">
                        <div class="price-box-top-title">
                            <div>您想为</div>
                            <div>个人之间的销售提供支持吗？</div>
                        </div>
                        <div class="price-box-item">
                            <div class="item-title">
                                起动机
                            </div>
                            <div class="item-price">
                                <div class="item-price-title">680 €</div>
                                <div class="title-red">服务</div>
                                <div>规定立即付款*</div>
                            </div>
                            <div class="item-items">
                                <li>精致的房地产评估</li>
                                <li>相片专业版HD</li>
                                <li>广告在+40个网站上播放</li>
                                <li>专用的在线议程</li>
                                <li>买家管理与筛选</li>
                                <li>验证融资计划</li>
                                <div class="title-red">选项</div>
                                <li>计划和虚拟参观+ 490€</li>
                            </div>
                            <div class="item-bottom">
                                *接受合同时付款。如果不满意，请在14天内退款。
                            </div>
                        </div>
                    </div>
                    <div class="bussiness-price-box-item">
                        <div class="price-box-top-title">
                            您要我们照顾一切吗？
                        </div>
                        <div class="price-box-item active-item">
                            <div class="item-title">
                                透明度
                            </div>
                            <div class="item-price">
                                <div class="item-price-title">1,9 %</div>
                                <div class="title-red">独家授权</div>
                                <div>销售时付款*</div>
                            </div>
                            <div class="item-items">
                                <li>精致的房地产评估</li>
                                <li>相片专业版HD</li>
                                <li>广告在+40个网站上播放</li>
                                <li>专用的在线议程</li>
                                <li>买家管理与筛选</li>
                                <li>验证融资计划</li>
                                <li>链接公证人</li>
                                <li>谈判和支持，直到签署</li>
                                <li>地图和虚拟导览</li>
                                <li>支持访问</li>
                            </div>
                            <div class="item-bottom">
                                *最低适用佣金为5,000欧元
                            </div>
                        </div>
                    </div>
                    <div class="bussiness-price-box-item">
                        <div class="price-box-top-title">
                            <div>您想通过</div>
                            <div>继续自己出售将您的财产托付给我们吗？</div>
                        </div>
                        <div class="price-box-item">
                            <div class="item-title">
                                自由
                            </div>
                            <div class="item-price">
                                <div class="item-price-title">2,9 %</div>
                                <div class="title-red">单笔授权</div>
                                <div>销售时付款*</div>
                            </div>
                            <div class="item-items">
                                <li>精致的房地产评估</li>
                                <li>相片专业版HD</li>
                                <li>广告在+40个网站上播放</li>
                                <li>专用的在线议程</li>
                                <li>买家管理与筛选</li>
                                <li>验证融资计划</li>
                                <li>链接公证人</li>
                                <li>谈判和支持，直到签署</li>
                            </div>
                            <div class="item-bottom">
                                *最低适用佣金为8,800欧元
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bussiness-price-description">
                <p>
                <h3>在线房地产代理商：</h3>
                <h3>还是如何避免过高的佣金？</h3>
                </p>

                <p>传统房地产代理商的佣金平均在5％至10％之间。该佣金百分比取决于您选择的房地产代理商以及您的物业或其区域的售价。</p>

                <p>要从便宜的房地产代理商佣金中受益，您需要进行很好的谈判，或者选择像海外皇地这样的在线房地产代理商！</p>

                <p>我们认为，传统机构收取的价格过高而不合理。借助我们的技术，我们使房地产经纪人的管理任务尽可能地自动化，以便他们可以完全致力于您和您的项目。这样，您还可以节省代理费。</p>

                <p>还是有疑问吗？在上方模拟您的收入。</p>
            </div>
        </div>
        <div class="join-us-div bussiness-item" data-type="2" style="display: none;">
            <section class="section-item">
                <div class="section-item-img"><img th:src="@{/img/bussiness/join-us-2.jpg}" /></div>
                <div class="section-item-detail">
                    <div class="form-group"><h3>优势：</h3></div>
                    <div class="form-group">
                        1)轻加盟，提成高(最高到80%)。
                    </div>
                    <div class="form-group">
                        2)轻投资，无纸化办公，无办公室(无房租)，在家办公。
                    </div>
                    <div>
                        3)时间自由，自己是老板，无固定上班时间，方便照顾家人及小孩，工作家庭二不误。
                    </div>
                    <div>
                        4)学习工作二不误，可以利用无课时间及周末工作，时间自由安排，不影响学业。
                    </div>
                </div>
            </section>
            <section class="section-item">
                <div class="section-item-detail">
                    现在就去<a th:href="@{/bussiness/student/entreship}">去申请</a>
                </div>
                <div class="section-item-img"><img th:src="@{/img/bussiness/join-us-3.jpg}"/></div>
            </section>
        </div>
        <div class="join-us-div bussiness-item" data-type="3" style="display: none;">
            <section class="section-item">
                <div class="section-item-img"><img th:src="@{/img/bussiness/student-2.jpg}"/></div>
                <div class="section-item-detail">
                    <div class="form-group "><h3>优势：</h3></div>
                    <div class="form-group">
                        <label>A)</label> 每三个月，自己网上报一次营业额，无需会计，交Charges sociaux，0收入，0报，0负担。
                    </div>
                    <div class="form-group">
                        <label>B)</label> 报营业额后，就自动上了法国的社保(跟学生社保不冲突)，同时你报的收入会计入你的退休金，比别人更早退休。
                    </div>
                    <div class="form-group">
                        <label>C)</label> 当你毕业后，要转身份(自由职业，工签)，可以100%转成功，因为你有财务报表，证明你的成功经验。
                    </div>
                    <div class="form-group">
                        <label>D)</label> 当你有3年的财务报表后，你只要身份转成功，立马就可以申请买房贷款(学生居留禁止贷款)，比别人早3年当房东。
                    </div>
                    <div class="form-group">
                        <label>E)</label> 如有疫情，只要报了营业额，在满足条件后，就可以申请补助金。
                    </div>
                    <div class="form-group">
                        <label>F)</label> 赶快加入我们吧，微信1：haiwaihuangdi，微信2：huangdihaiwai。我们提供专业指导。
                    </div>
                </div>
            </section>
            <section class="section-item">
                <div class="section-item-detail">
                    <ul>
                        <li class="form-group">
                            La santé : maladie, maternité, indemnités journalières (sauf pour les professions libérales relevant de la Cipav qui ne bénéficient pas des indemnités journalières) ;
                        </li>
                        <li class="form-group">
                            Les allocations familiales ;
                        </li>
                        <li class="form-group">
                            La retraite (régime de base et complémentaire obligatoire) ;
                        </li>
                        <li class="form-group">
                            La prévoyance (invalidité, décès).
                        </li>
                    </ul>
                </div>
                <div class="section-item-img"><img th:src="@{/img/bussiness/student-4.jpg}"/></div>
            </section>

            <section class="section-item">
                <div class="section-item-img"><img th:src="@{/img/bussiness/student-1.png}"/></div>
                <div class="section-item-detail">
                    现在就去<a th:href="@{/bussiness/join/us}">去申请</a>
                </div>
            </section>
        </div>
    </div>
    <style>
        @media screen and (max-width: 500px) {
            .bussiness-div-title{
                width: fit-content;
                display: flex;
                margin: auto;
            }

            .bussiness-div-title-item{
                text-align: center;
                padding: 10px;
            }

            .bussiness-div-title-item div{
                border: 1px solid transparent;
                font-size: 13px;
                cursor: pointer;
                padding: 12px;
                border-radius: 24px;
            }
        }

        @media screen and (min-width: 501px){
            .bussiness-div-title{
                width: fit-content;
                display: flex;
                margin: 50px auto 50px;
                padding-bottom: 50px;
            }

            .bussiness-div-title-item{
                width: 300px;
                text-align: center;
                padding: 10px;
            }

            .bussiness-div-title-item div{
                border-radius: 25px;
                border: 1px solid whitesmoke;
                font-size: 22px;
                width: 280px;
                height: 50px;
                line-height: 50px;
                cursor: pointer;
            }

        }

        .active{
            background: #0c5460;
            color: white;
            border:1px solid #0c5460;
        }

    </style>

    <script>

        $(".bussiness-div-title-item-title").hover(function () {
            let active = $(this).hasClass("active");
            if(!active){
                $(this).css("background","#0c5460");
                $(this).css("color","white");
            }else{
                $(this).css("box-shadow","5px 0 5px 0 rgba(0, 0, 0, .2)")
            }
        },function () {
            let active = $(this).hasClass("active");
            if(!active){
                $(this).css("background","whitesmoke");
                $(this).css("color","black");
            }else{
                $(this).css("box-shadow","none");
            }
        });

        $(".bussiness-div-title-item-title").click(function () {
            let id = $(this).attr("data-id");
            $(".bussiness-div-title-item-title").each(function (key,item) {
                let selectid = $(item).attr("data-id");
                if (selectid==id){
                    $(item).addClass("active");
                }else{
                    $(item).removeClass("active");
                    $(item).removeAttr("style");
                }
            });

            $(".bussiness-item").each(function (key,item) {
                let type = $(item).attr("data-type");
                if (type==id){
                    $(item).show();
                }else{
                    $(item).hide();
                }
            });
        });

    </script>
</div>
</html>