<!doctype html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/playout"
      layout:decorator="layout/layout" >
<div layout:fragment="content">
    <link rel="stylesheet"  th:href="@{/css/partner/signup-email.css}" />
    <div class="signup-div">
        <div class="steps">
            <span id="step-1" class="step-register active">注册 ></span>
            <span id="step-2" class=" step-register">验证你的邮箱</span>
        </div>
        <div class="signup-from">
            <form class="form-horizontal"   th:action="@{/partner/signup/email}"  method="post" id="signup-form">
                <div class="signup-title"><h1>注册买卖</h1></div>
                <br/>
                <br/>
                <div class="form-group">
                    <label for="sex" class="control-label">性别</label>
                    <div>
                        <select name="sex" id="sex" class="form-control">
                            <option value="0">先生</option>
                            <option value="1">女士</option>
                        </select>
                    </div>
                </div>
                <div class="form-group pays-set">

                </div>
                <div class="form-group">
                    <label for="prenom" class="control-label">姓：</label>
                    <div>
                        <input type="text" class="form-control" name="prenom"  id="prenom" placeholder="姓" th:value="${partner.prenom}"/>
                    </div>
                    <text class="prenom-error error"></text>
                </div>
                <div class="form-group">
                    <label for="nom" class=" control-label">名：</label>
                    <div >
                        <input type="text" class="form-control" name="nom"  id="nom" placeholder="名" th:value="${partner.nom}"/>
                    </div>
                    <text class="nom-error error"></text>
                </div>
                <div class="form-group">
                    <label for="email" class="control-label">Email：</label>
                    <div>
                        <input type="text" class="form-control" name="email"  id="email" placeholder="Email" th:value="${partner.email}"/>
                    </div>
                    <text class="email-error error"></text>
                </div>
                <div class="form-group">
                    <label for="wechat" class="control-la">微信</label>
                    <div>
                        <input class="form-control" name="wechat" id="wechat" placeholder="微信"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label" >密码</label>
                    <div >
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password"/>
                    </div>
                    <text class="password-error error"></text>
                </div>
                <div class="form-group button-group">
                    <button type="button" class="btn btn-success btn-signup">注册</button>
                </div>

            </form>
        </div>
    </div>
    <script>
        $(function (){

            $.get("/data/pays",function (data) {
                if (data){
                    let dataString  = '<label for="pays" class="control-label">国籍</label>';
                    dataString += '<div><select name="pays" id="pays" class="form-control">';
                    data.forEach(function (item,key) {
                        dataString += '<option value="'+item.id+'">'+item.name+'</option>';
                    })
                    dataString += '</select></div>';
                    $(".pays-set").html(dataString);
                }
            });

            $("#email").blur(function (){
               let email = $(this).val();
               let data = {};
               data["email"] = email;
               $.get("/site/partner/check/email",data,function (result){
                   if (result.status===0){
                       $(".email-error").text(result.message);
                   }else{
                       $(".email-error").text(null);
                   }
               });
            });


            $(".btn-signup").click(function (){
                //do something check email telephone
                let $email = $("input[name=email]").val();
                let params = {};
                params["email"] = $email;
                let $password = $("input[name=password]").val();
                let $prenom = $("input[name=prenom]").val();
                let $nom = $("input[name=nom]").val();
                if ($password && $prenom && $nom){
                    $("#signup-form").submit();
                }

                if (!$password){
                    $(".password-error").text("密码不能为空");
                }else{
                    $(".password-error").text(null);

                }

                if (!$prenom){
                    $(".prenom-error").text("姓不能为空！");
                }else{
                    $(".prenom-error").text(null);
                }

                if (!$nom){
                    $(".nom-error").text("名字不能为空！");
                }else{
                    $(".nom-error").text(null);
                }

            });
        });
    </script>

</div>
</html>