<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>海外皇地(HWHD)</title>

</head>
<body>
<div class="container-fluid">
    <div class="content-frame">
        <div th:utext="${description}"></div>
    </div>

    <footer class="footer navbar-fixed-bottom ">
        <div>
            <p>Copyright © 2021</p>
        </div>
    </footer>
</div>
</body>
</html>