<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>海外皇地(HWHD)</title>

</head>
<body>
<div class="container-fluid">
    <div class="content-frame">
        <div>
            <div><h3>忘记密码</h3></div>
            <div>
                <div>验证您的账户，请复制下边的连接到您的浏览器里,如果不是您的操作，请忽略这封邮件</div>
                <div><a th:href="${path}">点击激活</a></div>
            </div>
        </div>
    </div>

    <footer class="footer navbar-fixed-bottom ">
        <div>
            <p>Copyright © 2021</p>
        </div>
    </footer>
</div>
</body>
</html>