<!doctype html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/alayout" >
<div layout:fragment="content">
    <div class="lists-div">
        <div><h3>更新用户</h3></div>
        <div>
            <form th:action="@{/admin/partner/bussiness/set/}+${id}" method="post">
                <div class="form-group">
                    <label>买卖类型</label>
                    <div>
                        <select name="type" class="form-control">
                            <option value="0">个人</option>
                            <option value="1">房管</option>
                            <option value="2">中介</option>
                            <option value="3">加盟商</option>
                            <option value="4">平台自营</option>
                        </select>
                    </div>
                </div>
                <div class="form-group button-group">
                    <button class="btn btn-success">更新</button>
                </div>
            </form>
        </div>
    </div>

    <style>

        .lists-div{
            margin: auto;
            width: 70vw;
            height: 100%;
            padding: 30px;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
            background: white;
        }


        .button-group{
            text-align: right;
        }


    </style>
</div>
</html>