<!doctype html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/layout" >
<div layout:fragment="content">
    <script th:src="@{/js/partner-nav.js}"></script>
    <link th:href="@{/css/partner-center.css}" rel="stylesheet" />
    <script th:src="@{/js/partner-upload-file.js}"></script>
    <link th:href="@{/css/partner/partner-upload-file.css}" rel="stylesheet" />
    <script th:src="@{/js/partner/partner-bussiness-sell.js}"></script>
    <link th:href="@{/css/partner/partner-bussiness-sell.css}" rel="stylesheet"/>
    <div class="partner-center">
        <div th:replace="layout/partner-nav"></div>
        <div class="content">

            <div class="form-group">
                <div class="progress">
                    <div id="step-progress" class="progress-bar bg-info" role="progressbar"  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <form method="post" th:action="@{/partner/bussiness/sell}" id="postAnnonce">
                <div class="steps step-1" data-id="1">
                    <div class="form-group double-elements">
                        <div class="form-group pays-set location-item">

                        </div>
                        <div class="location-item" id="area-div">
                            <label for="area">地区</label>
                            <div>
                                <input type="text" class="form-control search-input" name="area"  id="area" placeholder="地段"/>
                                <input type="text" name="location" hidden="hidden" />
                            </div>
                            <text class="location-error error"></text>
                        </div>
                    </div>
                    <div class="form-group location-item">
                        <label for="address">详细地址</label>
                        <div>
                            <input name="address" id="address" class="form-control" placeholder="详细地址"/>
                        </div>
                        <text class="address-error error"></text>
                    </div>
                    <div class="form-group double-elements">
                        <div class="form-group">
                            <label>面积</label>
                            <div class="input-group">
                                <input name="size" type="number" class="form-control" aria-describedby="basic-addon1"/>
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon1">平米</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>层数</label>
                            <div class="form-group">
                                <input name="middle" type="checkbox"/>
                                <label>中间层</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>房价</label>
                        <div>
                            <input class="form-control" name="price" type="number"/>
                        </div>
                    </div>
                    <div class="form-group button-group">
                        <button class="btn btn-success next-step" type="button">下一步</button>
                    </div>
                </div>
                <div class="steps step-2" data-id="2">
                    <div class="form-group">
                        <label>类别</label>
                        <div>
                            <div class="form-group">
                                <select name="types" class="form-control">
                                    <option value="0">住房</option>
                                    <option value="1">商业地产</option>
                                    <option value="2">其他</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>房源类型</label>
                        <div class="house-type selects" data-type="0" data-name="houseType">
                            <div data-id="0" class="select-item">别墅</div>
                            <div data-id="1" class="select-item">公寓</div>
                            <div data-id="2" class="select-item">整栋楼</div>
                            <div data-id="3" class="select-item">船</div>
                            <div data-id="4" class="select-item">养老房</div>
                        </div>
                        <div class="house-type selects" data-type="1" style="display: none;" data-name="houseType">
                            <div data-id="0" class="select-item">办公室</div>
                            <div data-id="1" class="select-item">商铺</div>
                            <div data-id="2" class="select-item">商铺转让</div>
                        </div>
                        <div class="house-type selects" data-type="2" style="display: none;" data-name="houseType">
                            <div data-id="0" class="select-item">停车场</div>
                            <div data-id="1" class="select-item">地皮</div>
                        </div>
                        <input name="houseType" hidden="hidden" value="0" />
                    </div>


                    <div class="form-group">
                        <label>房屋类型</label>
                        <select class="form-control" name="roomType">
                            <view th:each="house,iter:${houseTypes}" th:remove="tag">
                                <option th:text="${house}" th:value="${iter.index}"></option>
                            </view>
                        </select>
                    </div>

                    <div class="form-group">
                        <div><input type="checkbox" name="lift"/> 电梯</div>
                        <div class="double-elements">
                            <div class="form-group group-item">
                                <input type="checkbox" name="balcon" />
                                <label>阳台</label>
                            </div>
                            <div class="input-group">
                                <input name="balconSize" type="number" class="form-control" aria-describedby="basic-addon2"/>
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">平米</span>
                                </div>
                            </div>
                        </div>
                        <div class="double-elements">
                            <div class="form-group group-item">
                                <input type="checkbox" name="cave" />
                                <label>地窖</label>
                            </div>
                            <div class="input-group">
                                <input name="caveSize" type="number" class="form-control" aria-describedby="basic-addon3"/>
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon3">平米</span>
                                </div>
                            </div>
                        </div>

                        <div><input type="checkbox" name="parking" /> 停车位 </div>
                    </div>
                    <div class="form-group button-group">
                        <button class="btn btn-info btn-before" type="button">上一步</button>
                        <button class="btn btn-success next-step" type="button">下一步</button>
                    </div>
                </div>
                <div class="steps step-3" data-id="3">
                    <div class="form-group">
                        <label>房源描述 *</label>
                        <div>
                            <textarea class="form-control description" name="description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>地铁，公交*</label>
                        <div>
                            <input name="trans" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group button-group">
                        <button class="btn btn-info btn-before" type="button">上一步</button>
                        <button class="btn btn-success next-step" type="button">下一步</button>
                    </div>
                </div>

                <div class="steps step-4" data-id="4">
                    <div class="form-group">
                        <label>图片</label>
                        <div id="hwwd-upload-images"></div>
                    </div>
                    <div class="form-group">
                        <label>房源标签 *</label>
                        <div>
                            <select name="houseLabel" class="form-control">
                                <option value="0">个人</option>
                                <option value="1">房管</option>
                                <option value="2">中介</option>
                                <view th:if="${model}" th:remove="tag">
                                    <view th:if="${model.type==3}" th:remove="tag">
                                        <option value="3" >加盟商</option>
                                    </view>
                                    <view th:unless="${model.type==3}" th:remove="tag">
                                        <option value="3" disabled>加盟商</option>
                                    </view>
                                    <view th:if="${model.type==4}" th:remove="tag">
                                        <option value="3" >平台自营</option>
                                    </view>
                                    <view th:unless="${model.type==4}" th:remove="tag">
                                        <option value="3" disabled>平台自营</option>
                                    </view>
                                </view>
                            </select>
                        </div>
                    </div>
                    <div class="form-group button-group">
                        <button class="btn btn-info btn-before" type="button">上一步</button>
                        <button class="btn btn-success next-step" type="button">下一步</button>
                    </div>
                </div>


                <div class="steps step-5" data-id="5">
                    <h4>联系方式</h4>
                    <div class="form-group">
                        <div class="form-group">
                            <div class="form-group">
                                <label>性别：</label>
                                <div class="sex-select selects" data-name="sex">
                                    <div class="select-item" data-id="0">先生</div>
                                    <div class="select-item" data-id="1">女士</div>
                                </div>
                                <input name="sex" value="0" hidden="hidden"/>
                            </div>
                            <div class="form-group">
                                <label>* 姓：</label>
                                <div>
                                    <input name="nom" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>* 名：</label>
                                <div>
                                    <input name="prenom" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>微信:</label>
                                <div>
                                    <input name="wechat" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>邮件:</label>
                                <div>
                                    <input name="email" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>电话：</label>
                                <div>
                                    <input name="telephone" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group button-group">
                        <button class="btn btn-info btn-before" type="button">上一步</button>
                        <button class="btn btn-success next-step" type="button">发布</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</html>